/* nangkoel@gmail.com
 * www.nangkoel.com
 * Bogor Indonesia`2008
 */
html, body {
		position: relative;
		min-height: 100vh;
		align-items: center;
		justify-content: center;
	}
#bodyutama.container{
	width: 100%;
	margin: 0 auto;
	overflow:auto;
	position:absolute;
	top:0;
	padding-bottom:20px;
	bottom:0px;
}
BODY {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	font-family: "Arial",sans-serif,"Myriad Pro","Myriad Web","Tahoma";  
	font-size:12px;
	width:100%;
	
}
legend {
	text-align: left;
	display: block;
	height: 5px;
	background-color: #d1e3fa;
	padding: 5px 30px 10px 10px;
	border-radius: 4px 13px 0px 0px;
	margin-left: -5px;
	font-weight: bold;
}

SELECT{
	height:18px;
	vertical-align:middle;
	font-size:11px;
}
/* This is what we are focused on */
.fixhead .sortable{
  overflow-y: scroll;
  flex-grow: 1;
}

.fixhead .sortable th{
    position: sticky;
    top: 0;
}
/*
.sortable {
  display: flex !important;
  flex-flow: column !important;
  height: 100% !important;
  background-color: rgb(118, 177, 218) !important;
  border-collapse: collapse !important;
}

.sortable thead {
  flex: 0 0 auto !important;
  width: 100% !important;
}

.sortable tbody {
  flex: 1 1 auto !important;
  display: block ;
  overflow: auto !important;
}

.sortable tbody tr {
  width: 100% !important;
}

.sortable thead,
.sortable tbody tr {
  display: table ;
  table-layout: fixed !important;
}

.sortable th,.sortable td {
	border: 1px solid #76B1DA !important;
	font-size: 12px !important;
	overflow-wrap: break-word !important;
}


.sortable ::-webkit-scrollbar {
	display:none !important;
}
*/
@-moz-document url-prefix() {
  .sortable {
	scrollbar-width: thin !important;
	scrollbar-color: #1e202a !important;
  }
}				
    .sortable{
        background-color:#76B1DA;
        font-size:12px;
    }

    table .data{
        background-color:#97AECA;
		font-size:12px;
        font-family: "Tahoma",sans-serif,"Myriad Pro","Myriad Web","Arial";
    }
        table .sortable thead{
		background-color:#97AECA;
		font-size:13px;
		text-transform:capitalize;
		cursor:pointer;
		text-align:center;	
    }
        table .sortable, table .data  thead tr {
        background-color:#56B5E7;
        }

        table .sortable thead tr td, table .data thead tr td{
        background-color:#275370;
        color:#A5C1D6;
        text-transform:capitalize;	
        }
        table .sortable thead tr th, table .data thead tr th{
        background-color:#275370;
        color:#A5C1D6;
        text-transform:capitalize;  
        }

        thead tr td{
        background-color:#275370;
        color:#A5C1D6;
        text-transform:capitalize;	
        }

        thead tr th{
        background-color:#275370;
        color:#A5C1D6;
        text-transform:capitalize;  
        }

        thead tr td:hover{
                background-color:#97AECA;
                color:#FFFFFF;
                cursor:pointer;
        }
        thead tr th:hover{
                background-color:#97AECA;
                color:#FFFFFF;
                cursor:pointer;
        }
        table  .sortable thead td:hover, table .data  thead td:hover{
                background-color:#97AECA;
                color:#FFFFFF;
        }
        table  .sortable thead th:hover, table .data  thead th:hover{
          background-color:#97AECA;
          color:#FFFFFF;
        }

    table tfoot{
        background-color:#97AECA;
                text-transform:capitalize;	    	
    }
    table tfoot td:hover{
        background-color:#9eada8;	    	
    }	
        .head{
                text-align:center;
                background-color:#275370;
                color:#A5C1D6;
                text-transform:capitalize;	
                }	
        .head td:hover{
                        background-color:#97AECA;
                        color:#FFFFFF;
                }
    UL{
        padding-left:20px;
        margin-top:5px;
        margin-bottom:1px;
    }
    OL{
        padding-left:20px;
        margin-top:5px;
        margin-bottom:1px;
    }
        textarea{
        border:#97AECA solid 1px;		
        }

/****************************************************************
 * 
 * box properties
 * */
  .x-box-tl {
        background: transparent url(../images/box/corners.gif) no-repeat 0 0;
    zoom:1;
}

.x-box-tc {
        height: 8px;
        background: transparent url(../images/box/tb.gif) repeat-x 0 0;
        overflow: hidden;
}

.x-box-tr {
        background: transparent url(../images/corners.gif) no-repeat right -8px;
}

.x-box-ml {
        background: transparent url(../images/box/l.gif) repeat-y 0;
        padding-left: 4px;
        overflow: hidden;
    zoom:1;
}

.x-box-mc {
        background: #eee url(../images/box/tb.gif) repeat-x 0 -16px;
        padding: 4px 10px;
        font-family: "Tahoma",sans-serif,"Myriad Pro","Myriad Web","Arial","Helvetica";
        color: #393939;
        font-size: 12px;
}

.x-box-mc h3 {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 4px 0;
    zoom:1;
}

.x-box-mr {
        background: transparent url(../images/box/r.gif) repeat-y right;
        padding-right: 4px;
        overflow: hidden;
}

.x-box-bl {
        background: transparent url(../images/box/corners.gif) no-repeat 0 -16px;
    zoom:1;
}

.x-box-bc {
        background: transparent url(../images/box/tb.gif) repeat-x 0 -8px;
        height: 8px;
        overflow: hidden;
}

.x-box-br {
        background: transparent url(../images/box/corners.gif) no-repeat right -24px;
}

.x-box-tl, .x-box-bl {
        padding-left: 8px;
        overflow: hidden;
}

.x-box-tr, .x-box-br {
        padding-right: 8px;
        overflow: hidden;
}

.x-box-blue .x-box-bl, .x-box-blue .x-box-br, .x-box-blue .x-box-tl, .x-box-blue .x-box-tr {
        background-image: url(../images/box/corners-blue.gif);
}

.x-box-blue .x-box-bc, .x-box-blue .x-box-mc, .x-box-blue .x-box-tc {
        background-image: url(../images/box/tb-blue.gif);
}

.x-box-blue .x-box-mc {
        background-color: #c3daf9;
}

.x-box-blue .x-box-mc h3 {
        color: #17385b;
}

.x-box-blue .x-box-ml {
        background-image: url(../images/box/l-blue.gif);
}

.x-box-blue .x-box-mr {
        background-image: url(../images/box/r-blue.gif);
}	
/************************************************************/

        .rowcontent{
			background-color:#D7EBFA;	
      	font-weight: normal;
		}	

        .rowcontentClick{
        background-color:#D7EBFA;
                cursor:pointer;
    }	

        .rowcontentClick:hover{
       font-weight:bolder;
    }	
        .rowcontentClick td:hover{
                background-color:#FFF688;
        }
        tr.rowcontent:hover{
                background-color:#FFFFFF;
        }
        tr.rowcontentClick:hover{
                background-color:#FFFFFF;
        }
        .rowcontent td:hover{
                background-color:#FFF688;
        }	
        .standardrow{
           background-color:#E8F2FE;
        }
        .standardrow:hover{
           cursor:pointer;
           background-color:#DEDEDE;
        }	
  /*
        .mybutton{
                 text-align:center;
                         margin-top:0px;
                         font-family:Tahoma;
                         font-size:11px;
                 font-weight:bolder;
                         height:19px;
                         vertical-align:middle;
                         text-transform:capitalize;	 
        }
        .mytextbox{
                 border:#97AECA solid 1px;
                 color:#000000;
                         font-family:Tahoma,Arial;
                         font-size:11px;
                 font-weight:bolder;
                         height:17px; 
        }
*/	
	
	.mybutton{
		/*background-color: transparent; 
		background-color: #1f79d1;
		background-color: #e6e6e6;
		border: 1px solid #183999;
		*/
		background-color: #e6e6e6;
		color: black; 
		border: 1px solid #183999;
		padding: 3px 10px;
		text-align: center;
		text-decoration: none;
		/* display: inline-block; */
		vertical-align:middle;
		font-size: 12px;
		/*font-weight: bold;*/
		margin: 2px 1px;
		transition-duration: 0.4s;
		cursor: pointer;
		border-radius: 5px;
	}
	.mybutton:hover{
		background-color: #0060bf;
		color: white;
	}
	input[disabled]{
		background-color: #CCCCCC;
	}
    .myinputtext{
		border:#97AECA solid 1px;
		height:18px;
		vertical-align:middle;
		text-align:left;	
		color:#000000 !important;
		font-size:11px;
		box-shadow: 1px 1px 1px #F7F9F8;
		padding: 1px 1px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background-color: #FFFFFF;
		cursor:pointer;
    }
	.myinputtextdt{
		font-size:10px;
		border:#5b5c5c solid 1px;
		border-radius:3px;
		padding:5px;
		background-color:#D7EBFA;
		margin-left:3px;
		vertical-align:middle;
		text-align:left;	
    }
	input[type="file"].myinputtext,input[type="file"].myinputtextuppercase,input[type="file"].myinputtextlowercase,input[type="file"].mybutton{
		height: 18px;
		padding: 3px;
	}input[type="radio"]{
		width:14px !important; 
		height:14px !important; 
		margin-right:10px;
		margin-left:10px;
	}input[type="checkbox"]{
		width:14px !important; 
		height:14px !important; 
		margin-right:10px;
		margin-left:10px;
	}input[type="time"]{
		border:#97AECA solid 1px;
		height:18px;
		vertical-align:middle;
		text-align:left;	
		color:#000000 !important;
		font-size:11px;
		box-shadow: 1px 1px 1px #F7F9F8;
		padding: 1px 1px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background-color: #FFFFFF;
		cursor:pointer;
	}
        .myinputtextuppercase{
			border:#97AECA solid 1px;
			height:18px;
			vertical-align:middle;
			text-align:right;	
			color:#000000!important;
			font-size:11px;
			font-weight:bold;
			box-shadow: 1px 1px 1px #F7F9F8;
			padding: 1px 1px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			background-color: #FFFFFF;
			text-transform:uppercase;

        }
        .myinputtextlowercase{
			border:#97AECA solid 1px;
			height:18px;
			vertical-align:middle;
			text-align:right;	
			color:#000000!important;
			font-size:11px;
			font-weight:bold;
			box-shadow: 1px 1px 1px #F7F9F8;
			padding: 1px 1px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			background-color: #FFFFFF;
			text-transform:lowercase;	

        }

        .myinputtextnumber{
			border:#97AECA solid 1px;
			height:18px;
			vertical-align:middle;
			text-align:right;	
			color:#165F10 !important;
			font-size:11px;
			font-weight:bold;
			box-shadow: 1px 1px 1px #F7F9F8;
			padding: 1px 1px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			background-color: #FFFFFF;				
        }
		.myinputtextnumberdt{
			font-size:10px;
			border:#5b5c5c solid 1px;
			border-radius:3px;
			padding:5px;
			background-color:#D7EBFA;
			margin-left:3px;
			vertical-align:middle;
			text-align:right;				
        }
		select{
			border:#97AECA solid 1px;
			text-align:left;	
			font-size:11px;
			font-family: inherit;
			vertical-align:middle;
			padding: 1px 1px;
			height: 22px;
			color: #000000 !important;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			background-color: #FFFFFF;
        }
        textarea{
			border:#97AECA solid 1px;	
			color:#165F10;
			color: #000000 !important;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background-color:#FEFEFE;
			padding: 10px 10px;			
        }
		fieldset{
			/* border:#0094de solid 1px;	
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			padding: 5px 5px;	
			
			background-color:#d4ecff;
			font-size:12px;
			font-weight:lighter;
			cursor:auto;
			text-decoration:none;
			text-shadow:none; 
			*/
			
			border: #adbed6 solid 0px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			padding: 5px 5px;
			background-color: #d1e3fa;
			font-size: 12px;
			font-weight: lighter;
			cursor: auto;
			text-decoration: none;
			text-shadow: none;
			/*margin-top:10px;*/
			margin-bottom:5px;
			-webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
			-o-box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
			box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
		}
        .drag{
				position:relative;
				box-shadow: 4px 5px 6px #5196AA;
				padding: 5px 2px;
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e9c97), color-stop(1, #0061a7));
				background:-moz-linear-gradient(top, #2e9c97 5%, #0061a7 100%);
				background:-webkit-linear-gradient(top, #2e9c97 5%, #0061a7 100%);
				background:-o-linear-gradient(top, #2e9c97 5%, #0061a7 100%);
				background:-ms-linear-gradient(top, #2e9c97 5%, #0061a7 100%);
				background:linear-gradient(to bottom, #2e9c97 5%, #0061a7 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e9c97', endColorstr='#0061a7',GradientType=0);
				background-color:#2e9c97;
				-moz-border-radius:3px;
				-webkit-border-radius:3px;
				border-radius:3px;
				border:1px solid #124d77;
				display:inline-block;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				border-radius: 10px;
				display:inline-block;
				text-decoration:none;		
			/*
                background-image:url('../images/titledialog.jpg');
                background-repeat:repeat-x;
            */    
                cursor:move;
                }
		#dynamic1{

				-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
				-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
				box-shadow:inset 0px 1px 3px 0px #91b8b3;
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
				background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
				background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
				background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
				background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
				background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
				background-color:#768d87;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				border-radius:5px;
				border:1px solid #566963;
				display:inline-block;
				font-size:15px;
				text-decoration:none;
				text-shadow:0px -1px 0px #2b665e;
				cursor:move;
				 }
        .dragdyn{
				position:relative;
				box-shadow: 4px 5px 6px #5196AA;
				padding: 5px 2px;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;
				border-radius: 5px 5px 10px 10px;
				border: 1px solid #5B7574;
				background: linear-gradient(top,  #E1F2EE,  #CECFCB);
				background: -ms-linear-gradient(top,  #E1F2EE,  #CECFCB);
				background: -webkit-gradient(linear, left top, left bottom, from(#E1F2EE), to(#CECFCB));
				background: -moz-linear-gradient(top,  #E1F2EE,  #CECFCB);				
               /* background-image:url('../images/box/grad2.png');*/
                cursor:move;
                }
		
			#columnControl{
				-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
				-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
				box-shadow:inset 0px 1px 3px 0px #91b8b3;
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
				background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
				background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
				background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
				background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
				background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
				background-color:#768d87;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				border-radius:5px;
				border:1px solid #566963;
				display:inline-block;
				cursor:move;
				 }
			.notif{
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
				background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
				background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
				background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
				background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
				background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
				background-color:#599bb3;
				-moz-border-radius:8px;
				-webkit-border-radius:8px;
				border-radius:8px;
				display:inline-block;
				cursor:pointer;
				padding: 2px 2px;
				 }		
		.myinputtextnumber:hover{
			color: #6A6305 !important;
			background: #D3EECA;
		}
        .myradio{
                vertical-align:middle;	
        }
    .mycheckbox{
                vertical-align:middle;   	
    }	

 .firsttd{
   background-color:#C7D6E9;
  } 
  .mmgr{
        list-style:none;
        border-left:#aeaeae dotted 1px;
  }
  .arrow{
        cursor:pointer;
    border:0px;
        vertical-align:middle;
  }

  .menuinput{
   border:orange solid 1px;
   background-color:#275370;
  }
  .newMenu{
        color:#2222AA;
        cursor:pointer;
  }

  .newMenu:hover{
        background-color:#BDBDBD;
  }
  .dellicon{
        cursor:pointer;
        vertical-align:text-bottom;
  }

  .judul{
        color:#000050;
        font-size: 18px;
        font-family: Courier;
        font-weight: Bold;
        opacity: 1;
        text-decoration:none;
  }
  
  .resicon {
	width:12px;
	height:12px;
	cursor:pointer;
	transition: all .1s ease-in-out;
	opacity: 0.8; 
}
.resicon2 {
	width:12px;
	height:12px;
	opacity: 0.4;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}
   .delliconBig{
        cursor:pointer;
        vertical-align:text-bottom;
        cursor:pointer;
        height:45px;
		transition: all .1s ease-in-out;
		opacity: 0.8; 
  } 
   .resicon:hover{
           transform: scale(1.2);
		opacity: 1;
        }

   .dellicon:hover{
           /*height:14px;*/
		transform: scale(1.2);
		opacity: 1;
        }
   .delliconBig:hover{
           /*height:55px;*/
		transform: scale(1.2);
		opacity: 1; 
        }	
  .nexicon{
        cursor:pointer;
        vertical-align:text-bottom;
        cursor:pointer;
    }
   .nexicon:hover{
           height:22px;
        } 
   .lab:hover{
        cursor:pointer;
        background-color:#DEDEDE;
    }  
   .elink{
        color:#4444FF;
        padding-left:8px;
        font-size:11px;
        font-weight:550;
   }
   .elink:hover{
        background-color:#E9740C;
        cursor:pointer;
        font-weight:bold;
   }	
   .login{
         text-align:center;
     background-image:url('../images/vista_icons_03.png');
         background-repeat:no-repeat;
         background-position:center;
         vertical-align:top;   	
   }
   .loginhead{
     font-size:13px; 
         color:#0000aa; 	
   }
   .power{
        font-size:9px;
        color:#999999;
   }
  .power a:hover{
        color:#999999;
  }
  .power a{
        color:#999999;
  }
  .logout{
         color:#FFFFFF;
         cursor:pointer;
  }
  .box{
        background-color:#76B1DA;
                font-family: "Tahoma",sans-serif,"Myriad Pro","Myriad Web","Arial";
                border:#3E71B2 solid 2px;
                color:#000000;
  }

        .tab td{
            border-radius: 3px 3px 0 0;
			padding: 10px 25px;
			cursor:pointer;
			color:#333333;
			font-size:13px;
			font-family: "Tahoma",sans-serif,"Myriad Pro","Myriad Web","Arial";
			transition: all 0.1s ease-in-out;
			border-left:0.1px solid #1E5896;
			border-right:0.1px solid #1E5896;
			border-top:1px solid #1E5896;
			background-color:#2894BD;
			position: relative;	
        }
        .tab td:hover{
            opacity: 1;
			color:#FFFFFF;
			background-color:#4D87B0;
        }	
    .pBarBackground{
        width:200px;
                height:22px;
                border:#444444 solid 1px;
                background-color:#ffffff;
    }
    .pBarTop{
        width:0px;
                height:22px;
                background-color:#1E5896;
                text-align:center;
    }
        .pLegend{
                font-weight:bolder;
        }
        .editbtn{
                height:16px;
        }
        .closebtn:hover{
                cursor:pointer;
        }

.chat-window {
	position: fixed;
	right: 20px;
	width: 250px;
	border-top: #9D9D9D solid 1px;
	border-right: #9D9D9D solid 1px;
	border-left: #9D9D9D solid 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #FFF;
	z-index: 10000;
	box-shadow: 0px -2px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px -2px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px -2px 4px rgba(0,0,0,0.1);
	-o-box-shadow: 0px -2px 4px rgba(0,0,0,0.1);
	-webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    -o-transition: bottom 0.5s;
    transition: bottom 0.5s;
}

.chat-window.show{
	bottom: 15px;
}
.chat-window.hide{
	bottom: -15px;
}
.chat-window .title {
	padding:  3px 10px 3px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: #9D9D9D solid 1px;
	background: #D4EAF9;
}

.chat-window .lblnotification{
	float: left;
    margin-top: -5px;
    margin-left: -15px;
}
.chat-window .search-box {
	width: 244px;
	border: #0080ff solid 1px;
	padding:  7px;
}

#chatWindowContact {
	max-height:295px;position:relative;overflow-y:scroll;
}
.ChContainer {
	cursor: pointer;
}

.tagntf{
	background-color: #D4EAF9;
	padding:5px;
}

.tagntfoff{
	background-color: #FFFFFF;
	padding:5px;
}

.tagntfmore{
	background-color: #FFFFFF;
	padding:5px;
	color:grey;
	font-style:italic;
	color:#365899;
	cursor:pointer;
}

.tagntfmore:hover{
	text-decoration: underline;
}

.tagntf:hover{
	background-color: #FFFFFF;
    color: white;
}
/* xthf-no-print is set on all header tables as a
   convenience for the following no-print rule. */

@media print {
  table.xthf-no-print {
    display: none;
  }
}
#containerFixtable {
  position: relative;
  /*width: auto;*/
  height: 300px;
  overflow: auto;
  /*background-color: #FFF;*/
  border: 0px solid #596380;
  padding: 0 10px 0 0;
}
div.choosed {
    cursor: pointer;
    background-image: url(../images/close.gif);
    background-position-x: 4px;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #000;
    color: white !important;
    border-radius: 5px;
    margin-right: 2px;
    margin-top: 5px;
    display: inline-block;
    background-size: 9px;
}
/*multi select*/
select.chooser{
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0px;
}
select.chooser:focus{
	border:none;
}
div.chooserboth{
	border: #97AECA solid 1px;
	min-height:5px;
    border-radius: 0px 0px 5px 5px ;
    border-top: 0px;
	background-color: #FFFFFF;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome and Opera */
}
 /* umar */
.freeze-table {
    position: sticky;
    position: -webkit-sticky;    
}
td.freeze-table{
	background-color: white;
}
.kolom-satu {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 0px;    
}

.kolom-dua {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 100px;    
}

.selected{
  color:white;
  background-color: #62b6e3;
}

.badge {
	vertical-align: baseline;
    box-sizing: border-box;
    display: inline-block;
    background-color: #2c3e50;
    color: #ffffff;
    
    border-radius: 3rem;
    text-align: center;

    font-size: 1.6rem;
    font-weight: 400;
    padding: .05rem .8rem .1rem;
    line-height: inherit;
}

.badge-container {
    margin-top: -10px;
}

.badge-line {
    background-color: transparent;
    color: #95a5a6;
    box-shadow: 0 0 0 1px #95a5a6;
}

.badge-info {
    background-color: #3498db;
}

.badge-warning {
    background-color: #f1c40f;
}

.badge-danger {
    background-color: #e74c3c;
}

.badge-success {
    background-color: #2ecc7;
}

.badge-small {
    font-size: 1rem;
    padding: .1rem .65rem .2rem;
}

.badge-smaller {
    font-size: .7rem;
    padding: .05rem .4rem .15rem;
}


/* joki */
/* tanda bintang inputan wajib di isi */
.bintang::after {
	content: '*';
	color: transparent;
	position: relative;
	top: -1.5px;
	margin-left: 2px;
	opacity: 0;
	animation: showStar 0.5s ease forwards;
  }
  
  @keyframes showStar {
	from {
	  color: transparent;
	  opacity: 0;
	  transform: translateY(-10px);
	}
	to {
	  color: red;
	  opacity: 1;
	  transform: translateY(0);
	  font-weight:bold;
	}
  }
/* end joki */
